{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Liste repas des gros pour le mois
    </h1>

    {% if menuSort is same as 'forward' %}
    <a href="{{ url('app_iterator',{'menuSort': 'backward', 'grosSort':grosSort }) }}" class="btn btn-link">
        Sort menu by desc
    </a>
    {% endif %}

    {% if menuSort is same as 'backward' %}
        <a href="{{ url('app_iterator',{'menuSort': 'forward', 'grosSort':grosSort }) }}" class="btn btn-link">
            Sort menu by asc
        </a>
    {% endif %}

    {% if grosSort is same as 'forward' %}
        <a href="{{ url('app_iterator',{'menuSort': menuSort, 'grosSort': 'backward' }) }}" class="btn btn-link">
            Sort gros by desc
        </a>
    {% endif %}

    {% if grosSort is same as 'backward' %}
        <a href="{{ url('app_iterator',{'menuSort': menuSort,'grosSort': 'forward' }) }}" class="btn btn-link">
            Sort gros by asc
        </a>
    {% endif %}

    <table class="table table-bordered">
        <thead>
        <tr>
            <td>
                Day
            </td>
            {% for gros in grosList %}
                <td>
                    {{ gros }}
                </td>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for weekMenus in monthMenus %}
            <tr>
                <td>
                    {{ monthMenus.key }}
                </td>
                {% for dayMenu in weekMenus %}
                    <td>
                        {{ dayMenu }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

